body {
	background: #666;
}

article {
	width: 44em;
	margin: auto;
	border: solid 2px #333;
	background: #fff;
	padding: 2em;
	color: #444;
	font-family: Helvetica, sans-serif;
	font-size: 90%;
	text-align: justify;
}

h1 {
	margin-top: 0;
	font-family: Helvetica, sans-serif;
	font-size: 160%;
}

h2 {
	font-family: Helvetica, sans-serif;
	font-size: 140%;
}

h3 {
	font-family: Helvetica, sans-serif;
	font-size: 120%;
}

a, a:visited {
	color: #04c;
	text-decoration: none;
}

a:hover {
	color: #08f;
}

ol {
	padding-left: 1.5em;
}

ul {
	padding-left: 1.5em;
}

li {
	margin-bottom: 1ex;
}
